@model PAWS_ProyectoFinal.Models.Categoria

<div class="row">
    <div class="col-md-8 mb-4 ">
        <div class="card mb-4 contenedor">
            <div class="card-header py-3">
                <h2  style="text-align:center">Categoría</h2>
            </div>

            <div class="card-body">
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.NombreCategoria)
                </div>
                <output class="form-control">
                    @Html.DisplayFor(model => model.NombreCategoria)
                </output>
                <br />
                <div>                    
                    <a asp-action="Index">Regresar</a>
                </div>
            </div>
        </div>       
   </div>
</div>
