@model PAWS_ProyectoFinal.Models.Categoria


<div class="row">
    <div class="col-md-8 mb-4 ">
        <div class="card mb-4 contenedor">
            <div class="card-header py-3">
                <h2 class="mb-0" style="text-align:center">Modificar Categoría</h2>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="NombreCategoria" class="control-label"></label>
                        <input asp-for="NombreCategoria" class="form-control" />
                        <span asp-validation-for="NombreCategoria" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
                <a asp-action="Index">Regresar</a>
            </div>
        </div>
    </div>
</div>

