.card {
    max-width: auto;
    margin-top: 60px;
    margin-left: 50%;
    background: #eeeeee
}

.card-header {
    padding-bottom: 15px;
    background: #5208B6;
    color: yellow;
    border-radius: 3px 3px 0 0;
}

.btn.btn-primary {
    background: #2553b8;
    border: none;
}

    .btn.btn-primary:hover {
        background: #3985f8;
    }

.btn.btn-secondary {
    background: #807e7e;
    border: none;
}

    .btn.btn-secondary:hover {
        background: #f35151;
    }

.btn.btn-danger {
    background: #c70a0a;
    border: none;
}

.btn.btn-danger:hover {
    background: #ff0000;
}

    .mb-0 {
        margin: 5px 0 0;
        font-size: 24px;
    }

.imgE {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}


.botonC {
    position: relative;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    background: #2e8b57;
    color: rgba(255, 255, 255, 4);
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
}

    .botonC span {
        position: absolute;
        width: 100%;
        height: 100px;
        border-radius: 50%;
        background: rgba(38, 184, 221, .2);
        top: -50%;
        left: -100%;
        transition: .3s;
    }

    .botonC:hover span {
        left: -10%;
    }

    .botonC:hover {
        color: #00ff00;
        background: #008001;
        box-shadow: 0 5px 5px rgba(0, 0, 0, .7);
    }
